html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

html, body {
    margin: 0;
    padding: 0
}

blockquote, body, dd, div, dl, dt, fieldset, footer, form, h1, h2, h3, h4, h5, h6, header, input, li, ol, p, pre, select, td, textarea, th, ul {
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-family: "Microsoft YaHei", 微软雅黑, Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1;
    margin: 0px;
    padding: 0px;
}

.container {
    background-color: #fff;
}

.compare-demo-page h2 {
    font-size: 36px;
    padding-bottom: 20px;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.5em;
    /* -webkit-margin-after: 0.83em;*/
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.compare-demo-page p {
    line-height: 20px;
    padding-bottom: 40px;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.compare-demo-page .compare-box {
    height: 690px;
}

.compare-demo-page {
    text-align: center;
    color: #3e3e3e;
    width: 1070px;
    height: 974px;
    margin: 0 auto;
}

.compare-demo-page .handle-img.first {
    padding-right: 70px;
}

.compare-demo-page .handle-img {
    float: left;
}

.compare-demo-page .handle-img .img-box {
    zoom: 1;
    width: 500px;
    height: 500px;
    background-color: #e4e4e4;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.compare-demo-page img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

img {
    border: none;
}

.compare-demo-page .handle-img .img-box {
    zoom: 1;
    width: 500px;
    height: 500px;
    background-color: #e4e4e4;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 500px;
}

.compare-demo-page .face-border {
    position: absolute;
}

.compare-demo-page .handle-img .img-box:after {
    content: "";
    width: 1px;
    height: 100%;
    margin-right: -1px;
    display: inline-block;
    vertical-align: middle;
}

.compare-demo-page .handle-img .img-box:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.compare-demo-page .handle-img .search-box {
    zoom: 1;
    margin: 20px 0 24px;
    height: 42px;
}

.compare-demo-page .handle-img .search-box .upload-img {
    position: relative;
    width: 135px;
    height: 40px;
    line-height: 36px;
    transition: all .3s ease 0s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #4c4c4c;
    border: 1px solid #cacaca;
    background-color: #fff;
    font-size: 14px;
    float: left;
}

.compare-demo-page .handle-img .search-box .icon-upload {
    margin-right: 10px;
}

.icons.icon-upload {
    width: 20px;
    height: 24px;
    background-image: url(../image/icon-upload.png);
}

.icons {
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.compare-demo-page .handle-img .search-box .upload-img {
    position: relative;
    width: 135px;
    height: 40px;
    line-height: 36px;
    transition: all .3s ease 0s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #4c4c4c;
    border: 1px solid #cacaca;
    background-color: #fff;
    font-size: 14px;
    float: left;
}

.compare-demo-page .handle-img .search-box button {
    transition: all .3s ease 0s;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    color: #fff;
    border: 1px solid #379edf;
    background-color: #379edf;
    font-size: 14px;
    width: 66px;
    height: 40px;
    float: right;
}

.compare-demo-page .handle-img .search-box input.search-input {
    border: 1px solid #59b1f5;
    width: 280px;
    height: 40px;
    line-height: 40px;
    text-indent: 1em;
    float: right;
}

input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 13.3333px Arial;
}

.compare-demo-page .handle-img .swiper-box {
    width: 500px;
    height: 85px;
    overflow: hidden;
    padding: 0 30px;
    margin-bottom: 19px;
    position: relative;
}

.compare-demo-page .handle-img .swiper-box .swiper-container {
    position: static;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    box-sizing: content-box;
}

.compare-demo-page .handle-img .swiper-box .swiper-container .swiper-wrapper .swiper-slide {
    width: 88px;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.compare-demo-page .handle-img .swiper-box .swiper-container .swiper-wrapper .swiper-slide .slide-img-box {
    width: 85px;
    height: 85px;
    background-color: #000;
}

.compare-demo-page .img-active-one, .compare-demo-page .img-active-two {
    border: 2px solid #59b1f5 !important;
}

.compare-demo-page .handle-img .swiper-box .swiper-container .swiper-wrapper .swiper-slide .slide-img-box img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.compare-demo-page .handle-img .swiper-box .swiper-container .swiper-wrapper .swiper-slide {
    width: 88px;
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.compare-demo-page .handle-img .swiper-box .swiper-container .swiper-wrapper .swiper-slide .slide-img-box {
    width: 85px;
    height: 85px;
    background-color: #000;
}

.compare-demo-page .handle-img .search-box #file-uploader {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 137px;
    height: 42px;
    cursor: pointer;
}

.icons.icon-swiper-right-small {
    width: 9px;
    height: 15px;
    background-image: url(../image/icon-minslider-arrowright.png);
}

.icons.icon-swiper-left-small {
    width: 9px;
    height: 15px;
    background-image: url(../image/icon-minslider-arrowleft.png);
}

.compare-demo-page .handle-img .swiper-box .swiper-container .swiper-button-next {
    cursor: pointer;
    display: inline-block;
    color: #4c4c4c;
    border: 1px solid #cacaca;
    background-color: #fff;
    height: 85px;
    width: 22px;
    line-height: 85px;
    text-align: center;
    position: absolute;
    top: 22px;
    background-image: none;
    right: 0;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.compare-demo-page .handle-img .swiper-box .swiper-container .swiper-button-prev {
    cursor: pointer;
    display: inline-block;
    color: #4c4c4c;
    border: 1px solid #cacaca;
    background-color: #fff;
    height: 85px;
    width: 22px;
    line-height: 85px;
    text-align: center;
    position: absolute;
    top: 22px;
    background-image: none;
    left: 0;
}

.compare-demo-page .result-box {
    height: 168px;
    width: 500px;
    border: 1px solid #cacaca;
    padding: 20px;
    text-align: left;
}

.compare-demo-page .result-box h2 {
    font-size: 18px;
    margin: 0;
}

.compare-demo-page h2 {
    font-size: 36px;
    padding-bottom: 20px;
}

.compare-demo-page p {
    line-height: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.compare-demo-page .response-json textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background: #fbfbfb;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 12px;
    line-height: 16px;
}

.compare-demo-page .response-json h2 {
    padding-bottom: 2px;
}

.footer-box {
    height: 60px;
    line-height: 60px;
    background-color: #2c2c2c;
    color: #dadada;
    width: 100%;
    position: relative;
    text-align: center;
}

.compare-demo-page .landmarkBox {
    position: absolute;
    outline: 2px solid #4aabe8;
    z-index: 100;
}
.upload-img input[type="file"]{
    position: absolute;
    opacity: 0;
    left: 0;
}