# Created by .ignore support plugin (hsz.mobi)
.idea/
XCloud/__pycache__/
cv/__pycache__/
dm/__pycache__/
nlp/__pycache__/
__pycache__/
pyWeb/
research/imgcensor/model/
cv/model/
cv/static/ImgCensorUpload/
cv/static