jieba==0.39
opencv_python==3.4.5.20
mtcnn==0.0.6
django>=2.1.5
snownlp==0.12.3
tensorflow-gpu==1.13.0
requests==2.22.0
pymysql==0.9.3
pandas==0.24.2
pillow>=6.2.0
scikit-image==0.15.0
scikit_learn==0.21.2
dlib==19.17.0
easydict==1.9