<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facial Beauty Prediction</title>
    {#    {% load static %}#}
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <link rel="stylesheet"
          href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>
</head>
<body>
<h2 align="center">Face Rank</h2>
<div align="center">
    <form enctype="multipart/form-data">{% csrf_token %}
        <div class="am-form-group am-form-file">
            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                <i class="am-icon-cloud-upload"></i> Choose Image
                <input type="file" placeholder="upload image" name="image">
                {#                <input id="doc-form-file" type="file" multiple>#}
            </button>
        </div>
        <input type="button" value="detect" id='upload-btn'
               class="am-btn am-btn-success" onclick="upload()">
    </form>
    <img class="am-img-responsive" alt="" src="" style="max-height: 320px;
    margin-top: 5px"/>
</div>
<div align="center">
    <p>Your Face Beauty Score is <span id="desc" style="color:
    red"></span>，AI takes
        <span id="time" style="color: red">0</span> seconds!
    </p>
</div>

<script>
    function upload() {
        var src = $("input[name='image']").val();
        var imgName = src.split("\\")[src.split('\\').length - 1];
        $('img').attr('src', '../../../static/FaceUpload/' + imgName);
        var data = new FormData($('form').get(0));

        $.ajax({
            url: 'fbp',
            type: 'POST',
            data: data,
            cache: false,
            processData: false,
            contentType: false,
            success: function (data) {
                console.log('success');
                var result = eval('(' + data + ')');
                $('#desc').text(result.data.beauty);
                $('#time').text(result.elapse);
            }
        });

        return false;
    }
</script>
</body>
</html>