<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pig Face Recognition</title>
    <script>

    </script>
</head>
<body>
<h2 align="center"
    style="font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace">
    XCloud</h2>
<div align="center">
    Hello, this is <a href="https://github.com/lucasxlu/XCloud" target="_blank"
                      style="text-decoration: none">XCloud</a>, an AI
    cloud platform maintained by <a
        href="https://www.zhihu.com/people/xulu-0620/activities"
        target="_blank" style="text-decoration: none">LucasX</a>.
    <hr>

    <div align="center">
        <img src="https://raw.githubusercontent.com/lucasxlu/blog/master/source/about/LucasX.jpg"
             alt="LucaX" align="center">
    </div>

    <div id="linkweb" style=" display:inline;"></div>
</div>

<footer>
    <script>
        setInterval("document.getElementById('linkweb').innerHTML=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());", 1000);
    </script>
</footer>
</body>
</html>